.sectionHeader {
	background-color: #020102;
}

/* supprime le margin-left cassant sur mobile */
nav {
	margin-left: 0;
}

.navbar-brand {
	color: #63dc27 !important;
	font-size: 18px;
	font-weight: bold;
}

.nav-link {
	color: white !important;
	font-size: 14px !important;
	transition: color 0.3s ease;
	padding: 8px 16px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	color: #63dc27 !important;
}

/* Responsive tweaks */
@media (max-width: 768px) {
	.nav-link {
		font-size: 16px !important;
	}
}
